<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aleš Hoheger Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<div class="about-section">
  <h1>Aleš Hoheger</h1>
  <h2>Full-stack developer</h2>
  <p>Izdelava top-shit spletnih strani</p>
  <p>In to ne kr neki, ampak s kodo in zankami, pa back-endom, ... itd.</p>
</div>

<h2 style="text-align:center">Prečekiraj kdo smo in kaj delamo pa ti bo jasno.</h2>
<div class="row">
  <div class="column2">
    <div class="card">
      <img src="/static/img/me.jpg" alt="Aleš" style="width:100%">
      <div class="container">
        <h2>O meni</h2>
        <p class="title">Ful hud web developer</p>
        <p>Prepričajte se, da smo prava izbira za vas.</p>
        <p>ales.hoheger@t-2.net</p>
        <p><button class="button">Več</button></p>
        <a href="about_me.html">Več</a>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="/static/img/portfelj.jpg" alt="Portfelj" style="width:100%">
      <div class="container">
        <h2>Portfelj</h2>
        <p class="title">Top-shit projekti</p>
        <p>Poglejte si nekaj spletnih projektov, ki jim zavida marsikdo.</p>
        <p>Reference: Apple, Coca-Cola, Porsche, in mnogi drugi.</p>
        <p><button class="button">Projekti</button></p>
        <a href="portfolio.html">Več</a>
      </div>
    </div>
  </div>

</div>