<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfelj</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<div class="about-section">
  <h1>Portfelj</h1>
  <p>Naši hudi projekti.</p>
  <p>Spletne trgovine, portali, blogi, ...itd.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column3">
    <div class="card">
      <img src="/static/img/fakebook.jpg" alt="Fakebook" style="width:100%">
      <div class="container">
        <h2>Fakebook</h2>
        <p class="title">Spletni Profil</p>
        <p>Osebna predstavitev na spletu</p>
        <p><button class="button">Več</button></p>
      </div>
    </div>
  </div>

  <div class="column3">
    <div class="card">
      <img src="/static/img/boogle.jp" alt="Boogle" style="width:100%">
      <div class="container">
        <h2>Boogle</h2>
        <p class="title">Kopija spletne strani Google</p>
        <p>Izboljšali smo Googlov front-end z vrhunskim UX-om</p>
        <p><button class="button">Več</button></p>
      </div>
    </div>
  </div>

  <div class="column3">
    <div class="card">
      <img src="/static/img/salon.jpg" alt="Frizerski salon" style="width:100%">
      <div class="container">
        <h2>Frizerski salon</h2>
        <p class="title">Spletna stran za top frizerski salon iz New Yorka.</p>
        <p>Spletna stran ima vse najnovejše tehnologije, najboljši UX in bullet-proof zaščito.</p>
        <p><button class="button">Več</button></p>
      </div>
    </div>
  </div>
</div>